<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power Down</title>
    <style>
    html { font-family: monospace; }
    body { text-align: center; }
    </style>
</head>

<body>
    <h1>Power Down</h1>
    <p>Gears powered off</p>
</body>

</html>
